<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Intake Assistant - Case Details</title>
    <link rel="stylesheet" href="/templates/style.css">
</head>
<script>

    var GLOBALS = {
        lawyerId: "{{.lawyer_id}}",
        caseId: "{{.case_id}}"
    };

</script>

<body>
    <div class="container">
        <h1><img src="/templates/robot_logo.png" height="40px">AI-Assisted Intake: Case Details</h1>
        <h3>Here's everything to know about this case. Click on a meeting timestamp to see more details about that meeting. Click the button to create a new meeting:</h3>   
        <a href="/intake/{{.case_id}}" class="button" style="display:inline-block;">New Meeting</a>
        <a href="/display-cases" class="button lawyerView" id="lawyerView" style="display:inline-block">Back to Cases</a>
        <a href="/log-out" class="button logoutButton" id="logoutButton" style="display:inline-block">Logout</a>
        <div id="clientInfo">
            <h4>Case Information</h4>
            
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Email Address</th>
                        <th>Street Address</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Client information will be populated here in populateClientInfo() -->
                </tbody>
            </table>
            

        </div>
        
        <div id="meetingDetails">
            <h4>Meetings</h4>
            <table>
                <thead>
                    <tr>
                        <th class="meeting-time-column">Meeting Time</th>
                        <th>Lawyer Notes</th>
                    </tr>
                </thead>
                <tbody id="meetingsBody">
                    <!-- Meetings will be populated here -->
                </tbody>
            </table>
        </div>
    </div>
    <script src="/templates/case-details.js"></script>
</body>
</html>
