<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Intake Assistant</title>
    <link rel="stylesheet" href="/templates/style.css">
</head>

<body>
    <div class="container">
        <h1><img src="/templates/robot_logo.png" height="40px">AI-Assisted Intake</h1>
        <h3>Welcome. This is a case tracking and intake system that utilizes AI. Please start by filling in the form below with your details. Provide as many details in this form as you can to help your lawyer conduct a better interview.</h3>
        <a href="/lawyer-login" class="button loginButton">Lawyer Login</a>
        <button id="startIntakeBtn" class="button">Start Intake</button>

        <div id="intakeForm">
          
        <div class="name-fields">
            <div class="field-group">
                <label for="client_first_name">First Name:</label>
                <input type="text" id="client_first_name" name="client_first_name">
                <span class="error-message" id="client_first_name_error"></span>
            </div>
                
            <div class="field-group">
                <label for="client_last_name">Last Name:</label>
                <input type="text" id="client_last_name" name="client_last_name">
                <span class="error-message" id="client_last_name_error"></span>
            </div>
        </div>
        <div class="case-type-group">
            <label for="type">Case Type:
        
            <select id="type" name="type">
                <option value="Please Select">--Please Select--</option>
                <option value="Contracts">Adoption or Name Change</option>
                <option value="Contracts">Contracts</option>
                <option value="Consumer Law">Consumer Law</option>
                <option value="Credit and Lending">Credit and Lending</option>
                <option value="Criminal Law">Criminal Law</option>
                <option value="Divorce/Family Law">Divorce/Family Law</option>
                <option value="Employment">Employment</option>
                <option value="Immigration">Immigration</option>
                <option value="Landlord-Tenant">Landlord-Tenant</option>
                <option value="Military Rights and Benefits">Miltiary Rights and Benefits</option>
                <option value="Power of Attorney">Power of Attorney</option>
                <option value="Real Property">Real Property</option>
                <option value="Tax Assistance">Tax Assistance</option>
                <option value="Voting">Voting</option>
                <option value="Wills and Estates">Wills and Estates</option>
                <option value="Other">Other</option>
            </select></label>
        </div>
        <small>Choose the topic that best describes your issue.</small>
        <span class="error-message" id="type_error"></span>    
          <label for="description">Type a detailed description of your issue:</label>
          <textarea id="description" name="description" ></textarea>
          <span class="error-message" id="description_error" style="display:block";></span>


          <div class="address-fields">
            <div class="field-group street">
                <label for="street_address">Street Address:</label>
                <input type="text" id="street_address" name="street_address">
                <span class="error-message" id="street_address_error"></span>
            </div>
            <div class="field-group city">
                <label for="city">City:</label>
                <input type="text" id="city" name="city">
                <span class="error-message" id="city_error"></span>
            </div>
            <div class="field-group state">
                <label for="state">State:</label>
                <input type="text" id="state" name="state" maxlength="2">
                <small>2 letters</small>
                <span class="error-message" id="state_error" style="margin-top:0px";></span>
            </div>
            <div class="field-group zip">
                <label for="zip">Zip:</label>
                <input type="text" id="zip" name="zip" maxlength="5">
                <small>5 digits</small>
                <span class="error-message" id="zip_error" style="margin-top:0px";></span>
            </div>
        </div>
        


        <div class="name-fields">
            <div class="field-group">
                <label for="phone_number">Phone number:</label>
                <input type="text" id="phone_number" name="phone_number" maxlength="10">
                <small>10 digits, only numbers, no dashes or spaces</small>
                <span class="error-message" id="phone_number_error" style="margin-top:0px";></span>
            </div>
                
            <div class="field-group">
                <label for="email_address">Email address:</label>
                <input type="text" id="email_address" name="email address" >
                <span class="error-message" id="email_address_error"></span>
            </div>
        </div>

         

          <br>
          <p>The information you provide will be used by your lawyer to help you with your case.
            By submitting this form, you consent to submission of your case information to an online artificial 
            intelligence application. The information that you provide is confidential and retains attorney-client 
            privilege.  However, this information and the information you provide in the interview will be passed 
            anonymously to AI software. The AI software will assist the lawyer with taking notes and asking questions.</p>
            <button id="submit" class="button">Submit</button>
          </div>

        <div id="thankYouMessage">
            <h2>Thank you for submitting!</h2>
            <p>Your submission has been received. A lawyer will review your case and contact you shortly.</p>
        </div>
    </div>

<script src="/templates/index.js"></script>
</body>

</html>
