<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Intake Assistant - Meeting Details</title>
    <link rel="stylesheet" href="/templates/style.css">
</head>
<script>
    var GLOBALS = {
        meetingId: "{{.meeting_id}}",
        caseId: "{{.case_id}}"
     };
</script>
<body>
    <div class="container">
        <h1><img src="/templates/robot_logo.png" height="40px">AI-Asisted Intake: Meeting Details</h1>
        <h3>Here's everything that happened during this meeting. To create a new meeting for this case, click on the button:</h3>
        <a href="/intake/{{.case_id}}" class="button" style="display:inline-block;">New Meeting</a> 
        <a href="/delete-meeting/{{.case_id}}/{{.meeting_id}}" class="button deleteMeeting" id="deleteMeeting" style="display:inline-block">Delete Meeting</a>     
        <a href="/case-details/{{.case_id}}" class="button lawyerView" id="lawyerView" style="display:inline-block">Case Details</a>
        <a href="/log-out" class="button logoutButton" id="logoutButton" style="display:inline-block">Logout</a>


        <div id="meetingDetails">
            <h4>Meeting Information</h4>
            <table>
                <thead>
                    <tr>
                        <th>Meeting Time</th>
                        <th>Client Name</th>
                        <th>Lawyer Notes</th>
                    </tr>
                </thead>
                <tbody id="meetingDetailsBody">
                    <!-- Meeting details will be populated here -->
                </tbody>
            </table>
        </div>
        
        <div id="gptResponses">
            <h4>GPT-Generated Responses</h4>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Questions</th>
                        <th>Summary</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody id="gptResponsesBody">
                    <!-- GPT responses will be populated here -->
                </tbody>
            </table>
        </div>
    </div>
    <script src="/templates/meeting-details.js"></script>
</body>
</html>
